<%= render 'navbar' %>
<%= render 'sidebar' %>

<button type="submit" class="button primary" style="float: right; margin-right: 20px; margin-top: 30px;" onclick="metroDialog.open('#newstore')"><span class="mif-plus"></span> Create Store ...</button>
<%= render 'new' %>